<h1>Item Inventory Tracker</h1>
<p>
    Welcome to the Inventory Tracker
</p>
<%= link_to "View Items", items_path, class: "btn btn-primary"%>
<%= link_to "View Locations", locations_path, class: "btn btn-primary"%>
